body { margin:0; padding:0; background:#000; font-family:Arial; }
canvas { display:block; margin:0 auto; background:#000; }
#startScreen {
  position:absolute; top:0; left:0; width:100%; height:100%;
  display:flex; justify-content:center; align-items:center; flex-direction:column;
  background: url('assets/screens/38B6D2B8-11A7-481F-8DAA-246E6F467D16.png') no-repeat center/cover;
}
#startScreen h1 { color:#00ffff; margin-bottom:20px; font-size:40px; text-shadow:1px 1px #000; }
#startButton {
  padding:15px 30px; font-size:24px; border:none; border-radius:10px; cursor:pointer; background:#00ffff;
}
#startButton:hover { background:#00cccc; }
